.main-link {
  display: inline-block;
  background-color: #F6F3E3;
  border-radius: 4px;
  padding: 13px 46px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #241D1C;
  cursor: pointer;
}

.main-link:hover:not(:disabled) {
  background-color: #EFE7BE;
}

.main-link:focus-visible {
  outline: 1ps solid #ffffff;
}

.main-link:disabled {
  opacity: 0.4;
}

@media (max-width:560px) {

  .main-link {
    padding: 10px 24px;
    font-size: 12px;
  }


}